/*
.countdown-timer-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
}

.countdown-timer {
  justify-content: space-around;
  display: flex;
  gap: 25px; 
  padding-bottom: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.countdown-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.digit-block-wrap{
  display: flex;
  gap: 10px;
}


.digit-block {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 55px; 
  height: 105px; 
  background: linear-gradient(180deg, #0F1125 -35%, rgba(15, 17, 37, 0.1) 100%);
  color: #FFFFFF; 
  font-family: 'Digital-7', monospace;
  font-size: 5.3125em; 
  font-weight: bold; 
  border-radius: 4.25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  margin: 0 2px; 
  box-shadow: 1px 1px, inset 1px 1px #ccc;
}




.countdown-label {
  color: #FFFFFF; 
  margin-top: 25px; 
  font-family: "Lato", sans-serif; 
  font-weight: 500; 
  font-size: 1.65em;
  line-height: 100%;
  letter-spacing: 0.05rem;
}



.countdown-ended {
  font-size: 1.8em;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.coming-soon-text {
  font-size: 2.2em; 
  font-weight: 600; 
  color: #333; 
  text-transform: uppercase;
  letter-spacing: 2px; 
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .countdown-timer {
    width: 75%;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
  }

  .countdown-container{
    flex-direction: row;
  }

  .digit-block-wrap{
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .digit-block {
    width: 35px; 
    height: 50px;
    font-size: 2.5em;
  }

  .countdown-group{
    width: 33% ;
  }

  .countdown-label {
    font-size: 1.1em;
    margin-top: 10px;
  }
 
}

*/

@media (min-width: 320px){
  
  .countdown-timer-wrap{
    display: flex;
    justify-content: center;
  }

  .countdown-timer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
    padding: 10px 0;
    /* margin: 5px auto 0 auto; */
    border: none;
  }

  .countdown-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .digit-block {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 25px; 
    height: 45px; 
    background: linear-gradient(180deg, #0F1125 -35%, rgba(15, 17, 37, 0.1) 100%);
    color: #FFFFFF; 
    font-family: 'Digital-7', monospace;
    font-size: 2.2125em; 
    font-weight: bold; 
    border-radius: 1.5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin: 0 2px; 
    box-shadow: 0.5px 0.5px, inset 0.5px 0.5px #ccc;
  }

  .countdown-group{
    width: 30% ;
  }

  .countdown-label {
    font-size: 0.9em;
    margin-top: 5px;
    color: #ffffff;
  }
}

@media (min-width: 375px){
  .countdown-timer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
    padding: 10px 0;
    border: none;
  }

  .digit-block-wrap{
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .digit-block {
    width: 35px; 
    height: 65px; 
    font-size: 3.2125em; 
    font-weight: bold; 
    border-radius: 1.5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin: 0 2px; 
    box-shadow: 0.5px 0.5px, inset 0.5px 0.5px #ccc;
  }

  .countdown-label {
    font-size: 1em;
    margin-top: 5px;
    color: #ffffff;
  }
}

@media (min-width: 425px) {
  .countdown-timer {
    max-width: 340px;
  }
}

@media (min-width: 500px) {
  .digit-block {
    font-size: 2.2125em; 
  }
}

@media (min-width: 768px){
  .countdown-timer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-direction: row;
    padding: 10px 0;
    border: none;
  }

  .countdown-label {
    font-size: 0.9em;
    margin-top: 5px;
    color: #ffffff;
  }
}

@media (min-width: 968px) {
  .countdown-timer {
    max-width: 440px;
    width: 100%;
  }

  .digit-block {
    width: 55px; 
    height: 105px; 
    font-size: 3.3125em; 
    font-weight: bold; 
    border-radius: 4.25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    box-shadow: 0.5px 0.5px, inset 0.5px 0.5px #ccc;
  }

  .countdown-label {
    font-size: 0.9em;
    margin-top: 25px;
    color: #ffffff;
  }

}