/* Основний контейнер таймера */
/* .countdown-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* Контейнер для всіх груп (Дні, Години, Хвилини) */
.countdown-timer {
  width: 100%;
  justify-content: space-around;
  display: flex;
  gap: 25px; /* Збільшимо відстань між групами, щоб було схоже на Figma */
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #FFFFFF;
}

/* Кожна група (Дні, Години, Хвилини) */
.countdown-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.digit-block-wrap{
  display: flex;
  gap: 10px;
}

/* Блок для КОЖНОЇ окремої цифри */
.digit-block {
  display: inline-flex; /* Щоб цифри були в одному рядку, але кожен у своєму блоці */
  justify-content: center;
  align-items: center;
  width: 65px; /* Ширина блоку для цифри, налаштуйте */
  height: 115px; /* Висота блоку для цифри, налаштуйте */
  background: linear-gradient(180deg, #0F1125 -35%, rgba(15, 17, 37, 0.1) 100%);
  color: #FFFFFF; /* Колір цифри, як на Figma */
  font-family: 'Digital-7', monospace; /* Або той шрифт, що у Figma */
  font-size: 5.3125em; /* Розмір цифри, налаштуйте */
  font-weight: bold; /* Жирний шрифт */
  border-radius: 4.25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Легка тінь для об'ємності */
  margin: 0 2px; /* Невеликий відступ між сусідніми блоками цифр */
  box-shadow: 1px 1px, inset 1px 1px #ccc;
}



/* Підписи під цифрами ("Днів", "Годин", "Хвилин") */
.countdown-label {
  color: #FFFFFF; /* Колір підпису */
  margin-top: 25px; /* Відступ від блоків цифр */
  font-family: "Lato", sans-serif; /* Або той шрифт, що у Figma */
  font-weight: 500; /* Напівжирний або звичайний */
  font-size: 1.65em;
  line-height: 100%;
  letter-spacing: 0.05rem;
}


/* Стилі для повідомлення після закінчення таймера */
.countdown-ended {
  font-size: 1.8em;
  color: #28a745;
  text-align: center;
  margin-top: 50px;
}

/* Стилі для "COMING SOON..." */
.coming-soon-text {
  font-size: 2.2em; /* Налаштуйте розмір */
  font-weight: 600; /* Напівжирний */
  color: #333; /* Колір тексту */
  text-transform: uppercase;
  letter-spacing: 2px; /* Можливо, є міжлітерний інтервал */
  margin-bottom: 20px;
}

@media (max-width: 1400px){
  .countdown-container {
    width: 100%;
  }
}


/* @media (min-width: 1441px) {
  .digit-block {
    width: 65px; 
    height: 80px;
    font-size: 4em; 
  }
}
*/
@media (max-width: 1010px){ 
  .countdown-timer {
    width: 100%;
    flex-direction: column;
  }
  
  .digit-block {
    width: 65px;
    height: 80px;
    font-size: 4em; 
  }

  .countdown-label{
    width: 100%;
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .countdown-timer {
    width: 75%;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
  }

  .countdown-container{
    flex-direction: row;
  }

  .digit-block-wrap{
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .digit-block {
    width: 35px; 
    height: 50px;
    font-size: 2.5em;
  }

  .countdown-group{
    width: 33% ;
  }

  .countdown-label {
    font-size: 1.1em;
    margin-top: 10px;
  }
 
}



/* @media (max-width: 480px) {
  .digit-block {
    width: 40px;
    height: 55px;
    font-size: 2.5em;
  }
} */

