/*
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.placeholder-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box; 
}

.placeholder-woomen-background{
  height: 100vh;
}

.placeholder-woomen-background-mobile{
  display: none;
}

.placeholder-shadow {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  z-index: 2;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg,
  rgba(51, 141, 150, 0.1) 9.16%,
  rgba(51, 141, 150, 0.2) 13.9%,
  rgba(51, 141, 150, 0.3) 18.68%,
  #338D96 37.33%);
}


.logo-img{
  width: 50%;
  height: auto;
}

.logo-signature{
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 38px;
  margin-top: 20px
}

.content-container{
  width: 55%;
  padding: 35px 27px 40px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 auto;
  height: 100vh;
  box-sizing: content-box;
}

.content-title {
  width: 60%;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.8em;
  text-align: center;
  margin: 0 auto 83px auto;
  color: #FFFFFF; 
}

.content-description {
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}

.content-signature{
  width: 75%;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin: 35px auto 0;
  color: #FFFFFF;
}

.content-social-block{
  width: 15%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-block-wrap{
  background-color: #FFFFFF33;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 7.5px;
  transition: .3s ease-in-out;
  display: grid;
  place-items: center;
}

.social-block-img{
  width: inherit;
  height: inherit;
}

.social-block-link{
  width: 20.75px;
  height: 20.75px;
}

.social-block-wrap:hover{
  scale: 1.2;
}

@media (max-width: 1300px) {
  .content-container{
    width: 45%;
  }
}

@media (max-width: 1210px) {
  .content-title{
    width: 100%;
    margin: 0 0 83px 0;
  }

  .content-social-block{
    width: 35%;
  }

}

@media (max-width: 425px) {

  .content-container{
    padding: 0;
    padding-top: 20px;
    width: 100%;
    background: none;
  }

  .content-title{
    width: 80%;
    margin: 0 auto 25px auto;
  }

  .content-title{
    font-size: 1.1em;
  }

  .content-description{
    font-size: 1.2em;
  }

  .content-description{
    margin: 0 0 10px 0;
  }

  .placeholder-woomen-background{
    display: none;
  }
  .placeholder-woomen-background-mobile{
    width: 100%;
    margin-top: auto;
    display: block;
  }

  .logo-img{
    margin-top: 10px;
    width: 290px;
  }

  .logo-signature{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .placeholder-shadow{
    height: 82vh;
    background: linear-gradient(to top,  rgba(51, 141, 150, 0) 0%,#338D96 66.29% );
  }

  .content-signature{
    width: 100%;
    font-size: 0.9em;
    margin: 15px 0;
  }

  .content-social-block{
    width: 45%;
    margin: 0 auto;
  }

  .social-block-wrap{
    background-color: #FFFFFF33;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 7.5px;
  }

  .social-block-img{
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 25.75px;
    height: 25.75px;
  }

}

@media (max-width: 600px) {
  .placeholder-shadow{
    background: linear-gradient(to top,  rgba(51, 141, 150, 0) 0%, #338D96 50.29%);
  }
}

@media (max-width: 450px) {


  .logo-signature{
    font-size: 0.9em;
    margin: 10px 0;
  }

  .placeholder-shadow{
    background: linear-gradient(360deg, rgba(51, 141, 150, 0) 18%, #338D96 34.29%);
  }
}
*/
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 320px){

  .fill-block{
    width: 100vw;
    height: 45vh;
    position: relative;
    z-index: 1;
  }

  .container{
    width: calc(100% - (20px * 2));
    height: 40vh;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .logo{
    display: block;
    max-width: 512px;
    width: 80%;
    height: auto;
    margin: 10px auto 0 auto;
  }

  .logo-signature{
    display: block;
    width: 100%;
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 1;
    font-size: 0.725em;
    text-transform: uppercase;
    font-weight: 200;
    color: #ffffff;
  }

  .title{
    max-width: 520px;
    margin: 12px auto 0 auto;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .title-signature{
    margin: 15px auto 0 auto;
    font-size: 1.225em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .text,
  .divider{
    display: none;
  }

  .social-block{
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-block-wrap{
    display: grid;
    place-items: center;
    background-color: #FFFFFF33;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 7.5px;
  }

  .social-block-img{
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 25.75px;
    height: 25.75px;
  }

  .shadow{
    width: 100vw;
    height: 70vh;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, rgba(51, 141, 150, 0) 0%, #338D96 29.29%);
  }

  .placeholder-woomen-background-mobile{
    display: block;
    width: 100vw;
    height: 55vh;
    background-image: url("./assets/bgs/main_bg_placeholder-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 60%;
  }
}

@media (min-width: 375px){

  body, html, #root {
    font-size: 18px;
  }
  
  .fill-block{
    height: 50.5vh;
  }

  .shadow{
    height: 75vh;
  }

  .logo{
    margin: 10px auto 0 auto;
  }

  .logo-signature{
    margin: 10px auto 0 auto;
    font-size: 0.9em;
  }

  .title{
    margin: 30px auto;
  }

  .divider{
    display: block;
    width: 83%;
    margin: 0 auto;
    height: 0.5px;
    background-color: #ffffff54;
  }

  .text{
    display: block;
    width: 100%;
    margin: 15px auto;
    font-size: 0.9em;
    color: #ffffff;
    text-align: center;
  }

  .placeholder-woomen-background-mobile{
    background-position: 40% 20%;
  }

  .social-block{
    width: 40%;
  }

  .social-block-wrap{
    display: grid;
    place-items: center;
    background-color: #FFFFFF33;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 7.5px;
  }

  .social-block-img{
    display: block;
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 18.75px;
    height: 18.75px;
  }
}

@media (min-width: 425px) {

  .logo{
    margin: 20px auto 0 auto;
  }

  .title{
    width: 90%;
  }

  .divider{
    width: 300px;
  }
}

@media (min-width: 500px) {
  body, html, #root {
    font-size: 24px;
  }

  .title{
    margin: 15px auto;
  }

  .text{
    font-size: 0.7em;
  }
}

@media (min-width: 768px){
  body, html, #root {
    font-size: 24px;
  }

  .fill-block{
    height: 40.5vh;
  }

  .shadow{
    height: 78vh;
  }

  .logo-signature{
    font-size: 0.9em;
  }

  .title{
    width: 87.5%;
    font-size: 1.2em;
    font-weight: 500;
  }

  .title-signature{
    margin: 0 auto;
    font-size: 1.3em;
  }

  .divider{
    max-width: 45%;
  }

  .text{
    margin: 15.5px auto;
    font-size: 0.8em;
  }

  .social-block{
    width: 40%;
  }

  .social-block-wrap{
    background-color: #FFFFFF33;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 7.5px;
  }

  .social-block-img{
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 27.5px;
    height: 27.5px;
  }
  
  .placeholder-woomen-background-mobile{
    height: 95vh;
    background-position: 60% -20%;
  }

  .placeholder-woomen-background{
    display: none;
  }

}

@media (min-width: 968px){
  .container{
    width: 50%;
    height: 100vh;
    margin: 0;
  }

  .placeholder-container{
    display: flex;
    min-height: 100vh;
  }

  .fill-block{
    height: 100vh;
    order: 2;
  }

  .shadow{
    width: 100vw;
    padding: 0 0 0 50vw;
    background: linear-gradient(90deg, rgba(51, 141, 150, 0) 5.16%, rgba(51, 141, 150, 0.2) 9.9%, rgba(51, 141, 150, 0.5) 14.68%, rgba(51, 141, 150, 0.7) 21.88%, #338D96 33.33%);
    height: 100vh;
  }

  .logo{
    margin: 40px auto 0 auto;
  }

  .logo-signature{
    font-size: 1em;
  }

  .title{
    width: 100%;
    margin: 68px auto 103px auto;
  }

  .title-signature{
    margin: 0 auto 40px 0;
  }

  .divider{
    max-width: none;
    width: 400px;
    height: 0.5px;
    margin: 35px auto 55px auto;
  }

  .placeholder-woomen-background{
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bgs/main_bg_placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    order: 1;
  }

  .placeholder-woomen-background-mobile{
    display: none;
  }
}


@media (min-width: 1124px){
.placeholder-woomen-background{
    background-position: 0% 80%;
  }
}

