body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Щоб уникнути прокрутки */
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.placeholder-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh; /* Висота екрану */
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box; /* Щоб padding не збільшував розмір контейнера */
}

.placeholder-woomen-background{
  height: 100vh;
}

.placeholder-woomen-background-mobile{
  display: none;
}

.placeholder-shadow{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  z-index: 2;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(51, 141, 150, 0) 9.16%, rgba(51, 141, 150, 0.2) 13.9%, rgba(51, 141, 150, 0.5) 18.68%, rgba(131, 150, 152, 0.7) 25.88%, #338D96 37.33%);
}


.logo-img{
  width: 50%;
  height: auto;
}

.logo-signature{
  width: 100%;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 38px;
  margin-top: -10px;
}

.content-container{
  width: 55%;
  padding: 35px 27px 40px 0;
  background-repeat: no-repeat;
  margin: 0 0 0 auto;
  height: 100vh;
  box-sizing: content-box;
}

.content-title {
  width: 60%;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.8em;
  text-align: center;
  margin: 0 auto 83px auto;
  color: #FFFFFF; 
}

.content-description {
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}

.content-signature{
  width: 75%;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin: 35px auto 0;
  color: #FFFFFF;
}

.content-social-block{
  width: 15%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-block-wrap{
  background-color: #FFFFFF33;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 7.5px;
  transition: .3s ease-in-out;
  display: grid;
  place-items: center;
}

.social-block-img{
  width: inherit;
  height: inherit;
}

.social-block-link{
  width: 20.75px;
  height: 20.75px;
}

.social-block-wrap:hover{
  scale: 1.2;
}

@media (max-width: 1300px) {
  .content-container{
    width: 45%;
  }
}
/* Адаптивність для мобільних пристроїв */
/* @media (max-width: 1120px) {
  .content-container{
    width: 50%;
  } 
} */

@media (max-width: 1210px) {
  .content-title{
    width: 100%;
    margin: 0 0 83px 0;
  }

  .content-social-block{
    width: 35%;
  }

}

@media (max-width: 768px) {

  .content-container{
    padding-top: 40px;
    width: 100%;
    background: none;
  }

  .content-title{
    margin: 0 0 43px 0;
  }

  .content-title,
  .content-description{
    font-size: 1.1em;
  }

  .content-description{
    margin: 0 0 10px 0;
  }

  .placeholder-woomen-background{
    display: none;
  }
  .placeholder-woomen-background-mobile{
    width: 100%;
    margin-top: auto;
    display: block;
  }

  .logo-img{
    width: 290px;
  }

  .logo-signature{
    width: 100%;
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .placeholder-shadow{
    height: 82vh;
    background: linear-gradient(to top,  rgba(51, 141, 150, 0) 0%,#338D96 66.29% );
  }

  .content-signature{
    width: 100%;
    font-size: 0.9em;
    margin: 15px 0;
  }

  .content-social-block{
    width: 45%;
    margin: 0 auto;
  }

  .social-block-wrap{
    background-color: #FFFFFF33;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 7.5px;
  }

  .social-block-img{
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 25.75px;
    height: 25.75px;
  }

}

@media (max-width: 600px) {
  .placeholder-shadow{
    background: linear-gradient(to top,  rgba(51, 141, 150, 0) 0%, #338D96 50.29%);
  }
}

@media (max-width: 450px) {
  .placeholder-shadow{
 
    background: linear-gradient(360deg, rgba(51, 141, 150, 0) 18%, #338D96 34.29%);
  }
}

/* @media (max-height: 1000px){
  
  .content-social-block{
    width: 15%;
    margin: 10px auto 0;
  }

  .social-block-wrap{
    background-color: #FFFFFF33;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 7.5px;
  }

  .social-block-img{
    width: inherit;
    height: inherit;
  }

  .social-block-link{
    width: 20.75px;
    height: 20.75px;
  }
}
*/


